body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.landing_animation {
  animation: landing 0.9s both;
}

#circle {
  width: 25vw;
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 100;
}

.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90vw;
  padding: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  transition-duration: 250ms;
  transition-timing-function: linear;
  background-color: var(--color_white);
}

.menu li {
  list-style: none;
  margin-left: 1vw;
  margin-right: 1vw;
}

.menu_element a {
  text-decoration: none;
  color: var(--color_gray);
  font-size: 1.6vw;
  font-weight: 600;
}

.menu_element:first-child img,
.menu_element:last-child img {
  width: 75px;
}

.menu_element:first-child div {
  display: flex;
  justify-content: center;
}

.menu_element:last-child div {
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-self: center;
}

.menu_element:last-child {
  transform: scale(75%);
  order: 1;
}

.menu #search_icon {
  filter: none;
}

.menu::after {
  content: "";
  flex-grow: 1;
  order: 0;
}

.menu.sticky {
  background-color: var(--color_pink);
}

.menu.sticky li a {
  color: var(--color_white);
}

.menu.sticky #search_icon {
  filter: invert(100%) sepia(2%) saturate(184%) hue-rotate(33deg)
    brightness(114%) contrast(92%);
}

#section_1,
#section_5 {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
}

#section_1 {
  margin-top: -10vh;
}

#section_1 article,
#section_5 article {
  width: 50vw;
  padding-top: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#section_1 .article_video {
  padding-top: 10vw;
}

#section_1 .article_text {
  padding-top: 9vw;
}

#section_1 article h1,
#section_5 article h1 {
  color: var(--color_pink);
  font-size: 6vw;
  margin: 0;
  font-weight: 600;
  margin-bottom: 1%;
  text-align: left;
}

#section_1 article p,
#section_5 article p {
  margin: 0;
  text-align: justify;
  color: var(--color_gray);
  font-size: 1.5vw;
}

#section_1 article .video_box,
#section_5 article .video_box {
  display: flex;
  align-items: center;
  border-radius: 1vw;
  overflow: hidden;
}

#section_1 article .video_box video,
#section_5 article .video_box video {
  width: 100%;
  height: 100%;
  z-index: 10;
}

#section_1 button,
#section_5 button {
  margin-top: 1vw;
  width: 60%;
  background-color: var(--color_pink);
  color: var(--color_white);
  font-size: 2vw;
  font-weight: 600;
  padding: 0.6vw;
  font-family: var(--font);
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  border-style: none;
  border-radius: 2vw;
}

#section_1 article form,
#section_2 article form,
#section_5 article form {
  display: flex;
  justify-content: center;
}

.background_right {
  width: 75vw;
  height: 75vh;
  position: absolute;
  top: -10vh;
  right: -35vh;
  transform: scale(60%);
  z-index: 0;
}

.background_left {
  width: 85vw;
  height: 85vh;
  position: absolute;
  top: 420vh;
  right: -20vh;
  transform: scale(59%) rotate(-120deg);
  z-index: 0;
}

#section_3 {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

#section_3 h1 {
  color: var(--color_pink);
  font-size: 6vw;
  margin: 0;
  margin-bottom: 0px;
  font-weight: 600;
  margin-bottom: 1%;
  text-align: center;
}

#section_3 article {
  display: flex;
  justify-content: center;
}

#section_3 article h2 {
  width: 15vw;
  padding: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: var(--color_gray);
  text-align: center;
}

#section_3 .category_box {
  padding: 0;
}

#section_3 article .category_element {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section_3 article li {
  list-style: none;
  display: flex;
  justify-content: center;
}

#section_3 article .category_img {
  background-size: cover;
  background-position: center;
  width: 15vw;
  height: 25vw;
  border-radius: 1vw;
  opacity: 1;
  filter: none;
  transition: 500ms ease-in-out;
}

#section_3 article .category_img:hover {
  opacity: 0.65;
  filter: brightness(90%);
  cursor: pointer;
  background-position: left;
}

#section_3 article #category_img_1 {
  background-image: url(../img/photo_4.jpg);
}

#section_3 article #category_img_2 {
  background-image: url(../img/photo_7.jpg);
}

#section_3 article #category_img_3 {
  background-image: url(../img/photo_5.jpg);
}

#section_3 article #category_img_4 {
  background-image: url(../img/photo_6.jpg);
}

#section_3 article #category_img_5 {
  background-image: url(../img/photo_8.jpg);
}

#section_3 article {
  padding-top: 5vw;
}

#section_5 .article_video {
  padding-top: 10vw;
}

#section_5 .article_text {
  padding-top: 9vw;
  order: 0;
}

#section_1,
#section_3,
#section_5 {
  background-color: var(--color_white);
}
#section_2,
#section_4 {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: var(--color_pink);
}

#section_2 .article_text {
  width: 66.6vw;
  padding-top: 5vw;
  margin-left: 1vw;
  margin-right: 2vw;
  order: 1;
}

#section_2 .article_text h1 {
  color: var(--color_white);
  font-size: 6vw;
  margin: 0;
  font-weight: 600;
  margin-bottom: 1%;
  text-align: center;
}

#section_2 .article_text p {
  margin: 0;
  text-align: justify;
  color: var(--color_white);
  font-size: 1.5vw;
}

#section_2 .article_text h2 {
  text-align: center;
  color: var(--color_white);
  font-size: 1.9vw;
  font-weight: 600;
}

#section_2 .article_text .support_box {
  display: flex;
  justify-content: center;
}

#section_2 .article_text .text_amount {
  margin: 0;
  text-align: center;
  color: var(--color_pink);
  font-size: 4vw;
  background-color: var(--color_white);
  border-radius: 50vw;
  font-weight: 600;
  width: 40%;
}

#section_2 button {
  margin-top: 1vw;
  width: 60%;
  background-color: var(--color_white);
  color: var(--color_pink);
  font-size: 2vw;
  font-weight: 600;
  padding: 0.6vw;
  font-family: var(--font);
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  border-style: none;
  border-radius: 50vw;
}

#section_2 .article_img {
  width: 33.3vw;
  padding-top: 5vw;
  margin-left: 2vw;
  margin-right: 1vw;
}

#section_2 article .div_img {
  background-image: url(../img/photo_1.jpg);
  width: 33.3vw;
  height: 80vh;
  background-size: 100%;
  border-radius: 1vw;
}

#section_4 {
  display: flex;
  flex-direction: column;
}

#section_4 .article_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#section_4 .article_text {
  width: 45vw;
}

#section_4 .article_text h2 {
  margin: 0;
}

#section_4 .article_text .article_box_white {
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
  color: var(--color_gray);
  font-size: 1.3vw;
  background-color: var(--color_white);
  border-radius: 1vw;
}

#section_4 .article_text .article_box_white p {
  margin: 0;
}

#section_4 .article_header p {
  text-align: justify;
  color: var(--color_white);
  font-size: 1.5vw;
  margin: 0;
}

#section_4 .article_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_4 form button {
  margin-top: 1vw;
  width: 30vw;
  background-color: var(--color_white);
  color: var(--color_pink);
  font-size: 2vw;
  font-weight: 600;
  padding: 0.6vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: var(--font);
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  border-style: none;
  border-radius: 50vw;
}

#section_4 h1 {
  color: var(--color_white);
  font-size: 6vw;
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.footer {
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: var(--color_gray);
}

.footer article {
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h1 {
  color: var(--color_white);
  font-size: 4vw;
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.footer_data {
  display: flex;
  justify-content: center;
  color: var(--color_white);
  font-size: 1vw;
  margin: 0;
  text-align: justify;
}

.footer_data div:first-child {
  width: 33.3%;
  padding-right: 2vw;
}

.footer_data div:last-child {
  width: 66.6%;
  padding-left: 2vw;
}

.footer_img {
  background-image: url(../img/logo_small_mono.png);
  background-size: cover;
  width: 5vw;
  height: 5vw;
}

@keyframes landing {
  from {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes puff {
  from {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .menu_element:last-child {
    display: none;
  }
  .menu {
    justify-content: center;
  }
  .menu_element a {
    text-decoration: none;
    font-size: 4vw;
  }
  .menu::after {
    flex-grow: 0;
  }
  .menu_element:last-child div {
    width: 4vw;
    height: 4vw;
  }
  .section_content article h1 {
    font-size: 6vw;
    margin: 0;
    margin-bottom: 1%;
    text-align: center;
  }
  .section_content article p {
    margin: 0;
    text-align: justify;
    font-size: 4vw;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap");

:root {
  background-color: var(--color_white);
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-width: none;

  --color_gray: #272727;
  --color_white: #f5f5f5;
  --color_red: #ff1b02;
  --color_pink: #fa2145;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(45deg, #929be7 0%, #8172c4 100%);
}
